*.exe
*.obj
*.dblite
*.o
*.bak
*.sdf
*.suo
*.pdb
/src/generic/operation/.docstates.suo
/example/main
*.opensdf
*.idb
*.ilk
/example/test/Debug
/example/Debug
/example/test

example/convert_cmy2gray
example/convert_cmy2rgb
example/convert_gray2cmy
example/convert_gray2rgb
example/convert_rgb2cmy
example/convert_rgb2gray
example/ctor_cmy
example/ctor_gray
example/ctor_hsl
example/ctor_rgb
example/ctor_yiq
example/extract_blue_from_cmy
example/extract_blue_from_rgb
example/extract_gray_from_cmy
example/extract_gray_from_rgb

