*.exe
*.obj
*.dblite
*.o
*.bak
*.sdf
*.suo
*.pdb
/src/generic/operation/.docstates.suo
/example/main
*.opensdf
*.idb
*.ilk
/example/test/Debug
/example/Debug
doc/doxygen/html
example/test/*.tga
example/test/test
example/convert_cmy2gray
example/convert_cmy2rgb
example/convert_gray2cmy
example/convert_gray2rgb
example/convert_rgb2cmy
example/convert_rgb2gray
example/convert_cmy2cmy
example/convert_cmy2cmyk
example/convert_cmy2hsl
example/convert_cmy2hsv
example/convert_cmy2yiq
example/convert_cmy2yuv

example/ctor_cmy
example/ctor_gray
example/ctor_hsl
example/ctor_rgb
example/ctor_yiq
example/ctor_cmyk

example/make_red_in_cmy
example/make_red_in_gray
example/make_red_in_rgb
example/extract_blue_from_cmy
example/extract_blue_from_rgb
example/extract_gray_from_cmy
example/extract_gray_from_rgb
example/convert_rgb2yiq

example/convert_rgb2yuv
example/ctor_hsv
example/ctor_yuv

example/test/gen*
