*.exe
*.obj
*.dblite
*.o
*.bak
*.sdf
*.suo
*.pdb
/src/generic/operation/.docstates.suo
/example/main
*.opensdf
*.idb
*.*~
*.ilk
/example/Debug
doc/doxygen/html

src/color/color.pp2f*.hpp

example/akin


example/assign_const_heavy
example/assign_const_simple

example/convert_cmy2gray
example/convert_cmy2rgb
example/convert_gray2cmy
example/convert_gray2rgb
example/convert_rgb2cmy
example/convert_rgb2gray
example/convert_cmy2cmy
example/convert_cmy2cmyk
example/convert_cmy2hsl
example/convert_cmy2hsv
example/convert_cmy2yiq
example/convert_cmy2yuv
example/convert_rgb2yuv
example/convert_rgb2yiq
example/convert_rgb2rgb
example/convert_rgb2cmyk
example/convert_rgb2hsl
example/convert_rgb2hsv

example/hello
tmp/pp2f

example/ctor_const
example/ctor_list

example/make_red_in_cmy
example/make_red_in_gray
example/make_red_in_rgb

example/extract_blue_from_cmy
example/extract_blue_from_rgb
example/extract_gray_from_cmy
example/extract_gray_from_rgb
example/extract_gray_from_cmyk
example/extract_gray_from_hsl
example/extract_gray_from_yiq
example/extract_gray_from_yuv

example/compare_brighter
example/compare_darker
example/compare_different
example/compare_equal
example/compare_great_or_equal
example/compare_great_strict
example/compare_less_or_equal
example/compare_less_strict

example/get_blue
example/get_gray
example/get_green
example/get_red
example/get_alpha

example/format_double
example/format_float
example/format_ldouble
example/format_split233
example/format_split332
example/format_split556
example/format_split655
example/format_splitAAA2
example/format_uint16
example/format_uint32
example/format_uint64
example/format_uint8
example/format_split422
example/format_split8888
example/format_split2222
example/format_split4444


example/operation_convex
example/operation_invert
example/operation_mix_alpha
example/operation_mix_noalpha
example/operator_arithmetic
example/operation_blend_alpha
example/operation_blend_noalpha


example/place

example/set_blue
example/set_gray
example/set_green
example/set_red

example/check_integrity
example/check_overburn

example/check_unique_hsl
example/check_unique_hsv

example/fix_integrity_cmyk
example/fix_integrity_hsl
example/fix_integrity_hsv

example/fix_overburn
example/fix_unique_hsl
example/fix_unique_hsv

example/make_orange
example/make_bisque
example/make_gray
example/make_red


example/test/out/
example/test/out-x/
example/test/gen*
example/test/*.tga
example/test/test
example/test/Debug
example/test/*.pp2f?.*
example/test/res
example/test/gray/*.tga
example/test/gray/ref/*.tga
example/test/gray/ref


example/trait_bound
example/trait_component
example/trait_container
example/trait_index
example/trait_scalar

example/tip_inplace_conversion
example/tip_memfill
example/tip_memset

/example/test/Release
/example/test/blank12.VC.VC.opendb
/example/test/blank12.VC.db

example/assign_const
example/check_unique
example/fix_integrity
example/test/bound.html
example/test/gray_test.html
example/test/make_check.html
example/test/mc.html

example/make_rgb_red

/example/test/.vs
/example/test/*.db
/example/test/out-gcc
/example/test/out-win
/example/test/cmake
/example/test/build/msvc/2015/out
/example/test/build/cmake/output
/example/test/build/cmake/CMakeFiles
/example/test/build/msvc/2017/out
